.block-contacts {
    margin-top: 125px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
}

.block-contacts-item {
    margin-top: 100px;
}

.block-contacts-item h2{
    animation: contacts 10s;
}

@keyframes contacts {
    0% {
        color: #fff;
    }
    25% {
        color: #b80707;
    }
    50% {
        color: #fff;
    }
    75% {
        color: #b80707;
    }
    100% {
        color: #fff;
    }
}
